@import "litepicker";
@import "modal_window";

.graph {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5em;
}

.graph-canvas:active {
    user-select: none; //Prevents double click text selection when clicking on the graph
}

.graph-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.graph-timescale {
    width: 5em;
    height: 5em;
    overflow: hidden;
}

.graph-canvas {
    position: absolute;
    object-fit: cover;
}

#canvas-container {
    width: auto;
    height: auto;
    overflow: hidden;
}