@import "litepicker";
@import "modal_window";
@import "graph_copypaste";

.graph {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10em;
}

.graph-canvas:active {
    user-select: none; //Prevents double click text selection when clicking on the graph
}

.graph-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.graph-button {
    background-color: var(--theme-background-primary);
    font-family: sans-serif;
    color: var(--theme-text);
}

.graph-dropdown {
    background-color: var(--theme-background-primary);
    font-family: sans-serif;
    color: var(--theme-text);
}

.graph-text-input {
    background-color: var(--theme-background-primary);
    font-family: sans-serif;
    color: var(--theme-text);
}

.graph-timescale {
    width: 5em;
    height: 5em;
    overflow: hidden;
}

.graph-canvas {
    position: absolute;
    object-fit: cover;
}

#canvas-container {
    width: auto;
    height: auto;
    overflow: hidden;
}