@import "svg";

.modal-window-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background-color: color-mix(in srgb, var(--theme-background-secondary) 50%, transparent);
}

.modal-window-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-height: 80vh;
    max-width: 80vw;
    background-color: var(--theme-background-primary);
    overflow: auto;
}

.modal-close-button {
    width: 32px;
    height: 32px;
}