.sidemenu {
    display: none;
    background-color: var(--theme-background-secondary);
    position: absolute;
    inset-block-start: 0px;
    inset-inline-end: 64px;
    block-size: 100vb;
    inline-size: 25em;
    //top: 0;
    //right: 300px;
    //height: 100%;
    //width: 300px;
    //padding: 20px;
}