$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-background-primary: --theme-background-primary;
$--theme-background-secondary: --theme-background-secondary;
$--theme-background-tertiary: --theme-background-tertiary;
$--theme-text: --theme-text;
$--theme-graph-background: --theme-graph-background;
$--theme-graph-mesh-light: --theme-graph-mesh-light;
$--theme-graph-mesh-dark: --theme-graph-mesh-dark;
$--theme-graph-border: --theme-graph-border;

$theme-map-light: (
    $--theme-primary: #798777,
    $--theme-secondary: #A2B29F,
    $--theme-background-primary: #bba792,
    $--theme-background-secondary: #cebcaa,
    $--theme-background-tertiary: #F8EDE3,
    $--theme-text: #2b2b2b,
    $--theme-graph-background: #cebcaa,
    $--theme-graph-mesh-light: #F8EDE3,
    $--theme-graph-mesh-dark: #2b2b2b,
    $--theme-graph-border: #F8EDE3,
);

$theme-map-dark: (
    $--theme-primary: #f34c83,
    $--theme-secondary: #c298dc,
    $--theme-background-primary: #393646,
    $--theme-background-secondary: #4f4557,
    $--theme-background-tertiary: #6d5d6e,
    $--theme-text: #f4eee0,
    $--theme-graph-background: #4f4557,
    $--theme-graph-mesh-light: #6d5d6e,
    $--theme-graph-mesh-dark: #f4eee0,
    $--theme-graph-border: #6d5d6e,
);
