@import 'mixins';
@import 'variables';

@import 'css-components/_switch';
@import 'css-components/sidebar';
@import 'css-components/sidemenu';
@import 'css-components/main_layout';
@import 'css-components/main_content';
@import 'css-components/notification';

%root-setup {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    color: var(--theme-text);
    z-index: -1;
}

:root {
    @extend %root-setup;
}

:root body {
    @extend %root-setup;
    overflow-inline: hidden;
}

:root.theme-light {
    @include spread-map($theme-map-light);
}

:root.theme-dark {
    @include spread-map($theme-map-dark);
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--theme-background-secondary);
}

::-webkit-scrollbar-corner {
    background: var(--theme-background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: color-mix(in srgb, var(--theme-primary) 50%, transparent);;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--theme-primary);
} 